    /**
     * Blog Assignment
     * @author Nate Hascup <nshascup@gmail.com>
     * @version 1.0
     */

.hylianLink {
    
    color: #0275d8;
    text-decoration: none;

}

.hylianLink:focus, .hylianLink:hover {
    color: #014c8c;
    text-decoration: underline;
}

.tiny {
    width: 200px;
    float: right;
}

.shrink {
    width: 250px;
    float: right;
}

.boxer {
  background-color: #2ba6cb;
}

textarea{
    min-width: 100%;
}

notepad {
    margin-top: 0px;
    padding-top: 0px;
}

.brand-logo {
    width: 25px;
}

div.alert {
    margin-top: 4px;
    margin-bottom: 0px;
    display: none;
}

div.form-group {
    margin-bottom: 4px;
}